<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
  <if(data.error)>
    <span>${data.error}</span>
  </if>
  <form name="register" action="/register" method="post">
    <div class="input">
      <span class="label">Display Name:<input type="text" name="name"/></span><br/>
      <span class="label">Email:<input type="text" name="email"/></span><br/>
      <span class="label">Password:<input type="password" name="password"/></span><br/>
      <div class="actions">
        <input type="submit"/>
      </div>
    </div>
  </form>
</body>
</html>