<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>
<form action="/users/books" method="post">
  Book: <input type="text" name="book">
  <button type="submit">Add</button>
</form>
    <ul>
    <for|book| of=data.books>
      <li>${book}</li>
    </for>
    </ul>

</body>
</html>